# H1:Data Science and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- Python
- SQL 
- R
- Java
- Julia

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
--------------------
|RStudio|
|Apache Spark|
|TensorFlow|

# H3:Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
total_minutes=200
hours=total_minutes//60
print(hours)

3

# H2:Author
Paulina Jagodzinska